<h1>Add Employee</h1>

<%=form_for @employee, url: employees_path do |f| %>
        
<div>
        <%= f.label "Dog" %>
        <%= f.collection_select :dog_id, Dog.all, :id, :name %>
</div>

<p>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %><br>

        <%= f.label :last_name %> 
        <%= f.text_field :last_name %><br>

        <%= f.label :alias %> 
        <%= f.text_field :alias %><br>

        <%= f.label :office %> 
        <%= f.text_field :office %><br>

        <%= f.label :img_url %> 
        <%= f.text_field :img_url, :value => 'http://winkeyecare.com/wp-content/uploads/2013/03/Empty-Profile-Picture-450x450.jpg' %><br>


</p>


<p>
    <%= f.submit%><br>
    
</p>
        
<% end %>